 .u-section-1 {
  background-image: url("images/20211123_123025.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 746px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 21px auto 0;
}

.u-section-2 .u-image-1 {
  width: 636px;
  height: 212px;
  margin: 21px auto 0;
}

.u-section-2 .u-image-2 {
  width: 636px;
  height: 212px;
  margin: 6px auto 0;
}

.u-section-2 .u-image-3 {
  width: 636px;
  height: 212px;
  margin: 5px auto 21px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 180px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 180px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 113px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 113px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 113px;
  }
}